body{
	background: grey;
}


.bs-container{
        margin: 20px;
        
    }
    body{
        padding-top: 70px;
        
    }

    .content {
    	max-width: 80%;
        min-width: 95%;
         margin: 10px auto 10px auto;
        padding: 20px;
        border: 1px solid #000;
        background-color: #ffffff;
    }
a:hover{
    color: black;
}

